# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.vs/
*.user
*.suo


**/bin/
**/obj/

**/out/
**/publish/

*.dbmdl
*.bak
*.mdb
*.pdb

ToDoApp_Front/node_modules/
ToDoApp_Front/build/
ToDoApp_Front/dist/
ToDoApp_Front/.next/
ToDoApp_Front/.turbo/
ToDoApp_Front/.cache/
ToDoApp_Front/.eslintcache


**/node_modules/

package-lock.json
yarn.lock
pnpm-lock.yaml

!.gitignore